.input-container {
  width: calc(100% - 20px);
  height: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 32px;
  transition: height 0.4s;
}

.input-container input,
.input-container textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  padding-left: 24px;
  color: white;
}
.input-container textarea{
  resize: none;
}
.input-container label {
  z-index: 1;
  color: white;
  position: absolute;
  left: 24px;
  top: 0;
  transition: 0.5s ease-in-out;
  font-weight: bold;
}

.input-container label.focus {
  top: -20px;
}

.input-container label.focus {
  top: -24px;
}


.input-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 20px;
  width: calc(100% - 40px);
  height: 2px;
  background: rgb(120, 114, 180);
  transition: 0.4s width;
}

.input-container.focus::after {
  animation: animateBorder 0.8s;
  background: rgb(65, 53, 202);
}

@keyframes animateBorder {
  0% {  
    transform: scaleX(1);
    background: rgb(120, 114, 180)
  }
  
  50% {

    transform: scaleX(0);
    background: rgb(65, 53, 202);
  }
  100% {
    transform: scaleX(1);
    background: rgb(65, 53, 202);
  }
}