@import 'https://fontawesome.com/v4.7.0/icons/';
/* @import "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"; */
@import "https://unpkg.com/flickity@2/dist/flickity.min.css";
/* @import "https://www.w3schools.com/w3css/4/w3.css"; */


.bootomfoot{
    text-align:left;
  }
  .bootomfoot .bottomfootcontainer{
      max-width: 1170px;
      margin:auto;
  }
  .bottomfootcontainer .bottomfoot-row{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }
  .bottomfootcontainer ul{
      list-style: none;
    padding-left: 0;
  }
  .bootomfoot{
      background-color: #24262b;
      padding: 70px 0;
  }
  .bootomfoot-col{
     width: 25%;
     padding: 0 15px;
  }
  .bootomfoot-col h4{
      font-size: 18px;
      color: #ffffff;
      text-transform: capitalize;
      margin-bottom: 35px;
      font-weight: 500;
      position: relative;
  }
  .bootomfoot-col h4::before{
      content: '';
      position: absolute;
      left:0;
      bottom: -10px;
      background-color:  #4896f7;
      height: 2px;
      box-sizing: border-box;
      width: 50px;
  }
  .bootomfoot-col ul li:not(:last-child){
      margin-bottom: 10px;
  }
  .bootomfoot-col ul li a{
      font-size: 16px;
      text-transform: capitalize;
      color: #ffffff;
      text-decoration: none;
      font-weight: 300;
      color: #bbbbbb;
      display: block;
      transition: all 0.3s ease;
  }
  .bootomfoot-col ul li a:hover{
      color: #ffffff;
      padding-left: 8px;
  }
  .bootomfoot-col .social-links a{
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color: rgba(255,255,255,0.2);
      margin:0 10px 10px 0;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      color: #ffffff;
      transition: all 0.5s ease;
  }
  .bootomfoot-col .social-links a:hover{
      color: #ffffff;
      background-color:  #4896f7;
  }

  .icons{
      margin-top: 7px;
  }
  
  /*responsive*/
  @media(max-width: 767px){
    .bootomfoot-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .bootomfoot-col{
      width: 100%;
  }
  }